h2,p{
    color: white;
    font-family: Segoe UI;
}

input.home{
    border: none;
    outline: none;
    width: 203px;
    height: 48px;
    background: #5BC0BE;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
    font-family: Segoe UI;
    font-weight: Bold;
}

a.signout{
    color: white;
    font-size: 10px;
    font-family: Segoe UI;
    font-weight: Bold;
    float: right;
}