h2,p{
    color: white;
    font-family: Segoe UI;
}

a.signout{
    color: white;
    font-size: 10px;
    font-family: Segoe UI;
    font-weight: Bold;
    float: right;
}

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#0b132b,#3a506b) ;
    background-size: cover;
    background-position: center;
    font-family: Segoe UI;
}